body {
    background: rgba(102, 102, 102, 0.075);
}
#topbar{
    width: 100%;
    height:8%;
    background-color: rgba(255, 255, 255, 0.911);
    display: flex;
    align-items: center;
}
#logo{
    margin-left: 10px;
    width: auto;
    height: 100%;
    align-items: center;
}
.container-fluid,html,body{
  height: 100%;
}
.quick-menu{
  position: absolute;
}
.inside{
  width:100%;
  height:100%;
  overflow:hidden;
  display: flex;
  position: relative;
}

.playText{
  text-align: center;
  height: 10px;
  font-size: 15px;

}
.playtiptext{
  text-align: center;
  font-size: 13px;

}
.outside{
    width:100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
   
    position:relative;
  }
.shadow-sm{box-shadow:0 .125rem .25rem rgba(0,0,0,.075)}
.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}
p.title{
    text-align: center;
    color: black;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.toolButton{
  width:30px;
  height:30px;
  top:15px;
}

#toolButton{
    left: 15px;
    top:15px;
}

.toolButton:hover{
    transform:scale(1.2); 
}

#arrestButton{
  left: 95px;
  top:15px;
}

#toolButton2{
  left: 55px;
  top:15px;
  width:30px;
  height:30px;
}

#toolButton:hover2{
  transform:scale(1.2); 
}

.floatToolBar{
  top: 0px;
  left: 0%;
  z-index: 5;
  position: absolute;
  opacity: 0.8;
}
.botToolBar{
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  z-index: 5;
  position: absolute;
  opacity: 0.8;
}
.centralTool{
  right: 0;
  left: 0;
  bottom: 0;
  top:0;
  margin: auto;
  z-index: 5;
  position: absolute;
  opacity: 0.8;
}
.blurBackground{
  -webkit-filter: blur(9px);
  filter: blur(9px);
}

.mymap{
    width: 100%;
  }


  .inmap{
    z-index: 0;
  }

  .outmap{
    margin-top:10px;
    height: 90%;
  }
  .quick-menu{
    position: absolute;
  }
  .mapranging{
    cursor:Crosshair;
  }

  #toolBox{
    width:20%;
    background-color: white;
    border-radius:5px;
    justify-content: center;
  }

  .toolBox{
    width:20%;
    background-color: white;
    border-radius:5px;
    justify-content: center;
  }
  
  #infoBox{
    width:20%;
    height: 100%;
    background-color: white;
    border-radius:5px;
    justify-content: center;
  }

  .infoBox{
    width:20%;
    height: 100%;
    background-color: white;
    border-radius:5px;
    justify-content: center;
  }

  .boxtext{
    color: black;
    z-index: 6;
  }

  .boxtitle{
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
  }

  .boxsubtitle{
    font-size: 15px;
    display:inline;
    margin-left: 10px;
  }

  .slider{
    cursor: pointer;
    -webkit-appearance: none;
    width: 80%;
    border-radius: 10px; /*这个属性设置使填充进度条时的图形为圆角*/
    height: 10px;
    background-color: #3e8e41;
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #aaa;
    width: 8px;
    height: 20px;
    border-radius: 4px;
    cursor: pointer;
}
  .fillbox{
    width: 100%;
    text-align: center;
    
  }

  .slider::-webkit-slider-thumb:hover {
    background: rgb(30, 107, 53);
}

.boxitem{
  margin-top: 10px;
}

.colorline{
  stroke-width:8;
}

.colortext{
  text-anchor: middle;
}

#rangeButton{
  width:45px;
  height: 40px;
}

.retagleButton{
    width:40px;
    height: 40px;

}
#pathButton{
  width:40px;
  height: 40px;

}

.rangeButton:hover{
  transform:scale(1.2); 
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropbtn {
  background-color:#3e8e41;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: -40px;
  left: 80px;
}

.dropdown-content a {
  padding: 8px 8px;
  text-decoration: none;
  display: block;
  font-size: 13px;
  cursor: pointer;
}

.dropdown-content a:hover{
  background-color: #8d8d8d;
  color: white;
}
.isShowed{
  background-color: #8d8d8d;
  color: white;
}
.dropbtn{
  background-color: rgb(22, 78, 61);
  color: white;
  width: 80px;
  height: 30px;
  font-size: 15px;
}
.dropdown2:hover .dropdown-content {
  display: block;
}

.right {
right:0;
}

.floatStatus{
  top: 420px;
  left: 3%;
  z-index: 5;
  position: absolute;
  opacity: 1;
}

.hide{
  display: none;
}

.O-1-item {
  break-inside: avoid;
  display: flex;
  align-items: center;
  padding-bottom: 1px;
}

.O-1-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 15px - 0.5em);
}

.O-1-swatch {
  width: 15px;
  height: 15px;
  margin: 0 0.5em 0 0;
}

.commercetip{
  width: 90px;
  height: 60px;
}

.stext{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 12px;
}

.el-button--primary.is-active,
.el-button--primary:active {
  background: #20B2AA;
  border-color: #20B2AA;
  color: #fff;
}

.el-button--primary:focus,
.el-button--primary:hover {
  background: #48D1CC;
  border-color: #48D1CC;
  color: #fff;
}

.el-button--primary {
  color: #FFF;
  background-color: #20babb;
  border-color: #20B2AA;
}

.littletip{
  font-size: 13px;
  margin-bottom: 10px;
}