body {
    background: rgba(102, 102, 102, 0.075);
}
#topbar{
    width: 100%;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.911);
    display: flex;
    align-items: center;
}
#logo{
    width: 65px;
    height: 65px;
    margin-left: 10px;
    
    align-items: center;
}
.inside{
  width:80%;
  height:500px;
  overflow:hidden;
  display: flex;
  position: relative;
}
.outside{
    width:100%;
    height:500px;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
   
    position:relative;
  }
.shadow-sm{box-shadow:0 .125rem .25rem rgba(0,0,0,.075)}

p.title{
    font-size: 30px;
    text-align: center;
    color: black;
    height: 65px;
    margin-left: 10px;
    line-height: 65px;
}



#toolButton{
    left: 15px;
    top:15px;
    width:30px;
    height:30px;
}

#toolButton:hover{
    transform:scale(1.2); 
}

.floatToolBar{
  top: 0px;
  left: 0%;
  z-index: 5;
  position: absolute;
  opacity: 0.8;
}

.mymap{
    width: 100%;
    height: 500px;
  }


  .inmap{
    z-index: 0;
  }

  .outmap{
    margin-top:30px;
  }

  .mapranging{
    cursor:Crosshair;
  }

  #toolBox{
    width:20%;
    background-color: black;
    border-radius:5px;
    justify-content: center;
  }
  
  #infoBox{
    width:20%;
    background-color: black;
    border-radius:5px;
    justify-content: center;
  }

  .boxtext{
    color: white;
    z-index: 6;
  }

  .boxtitle{
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
  }

  .boxsubtitle{
    font-size: 15px;
    display:inline;
    margin-left: 10px;
  }

  .slider{
    cursor: pointer;
    -webkit-appearance: none;
    width: 80%;
    border-radius: 10px; /*这个属性设置使填充进度条时的图形为圆角*/
    height: 10px;
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #aaa;
    width: 8px;
    height: 20px;
    border-radius: 4px;
    cursor: pointer;
}
  .fillbox{
    width: 100%;
    text-align: center;
    
  }

  .slider::-webkit-slider-thumb:hover {
    background: rgb(30, 107, 53);
}

.boxitem{
  margin-top: 10px;
}

.colorline{
  stroke-width:8;
}

.colortext{
  text-anchor: middle;
}

#rangeButton{
  width:45px;
  height: 40px;
}

#rangeButton:hover{
  transform:scale(1.2); 
  cursor: pointer;
}
