body {
    background: rgba(102, 102, 102, 0.075);
}
#topbar{
    width: 100%;
    height:8%;
    background-color: rgba(255, 255, 255, 0.911);
    display: flex;
    align-items: center;
}
#logo{
    margin-left: 10px;
    width: auto;
    height: 100%;
    align-items: center;
}
.container-fluid,html,body{
  height: 100%;
}
.quick-menu{
  position: absolute;
}
.inside{
  width:100%;
  height:100%;
  overflow:hidden;
  display: flex;
  position: relative;
}

.playText{
  text-align: center;
  height: 10px;
  font-size: 15px;

}
.playtiptext{
  text-align: center;
  font-size: 13px;

}
.outside{
    width:100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
   
    position:relative;
  }
.shadow-sm{box-shadow:0 .125rem .25rem rgba(0,0,0,.075)}
.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}
p.title{
    text-align: center;
    color: black;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.toolButton{
  width:30px;
  height:30px;
  top:15px;
}

#toolButton{
    left: 15px;
    top:15px;
}

.toolButton:hover{
    transform:scale(1.2); 
}

#arrestButton{
  left: 95px;
  top:15px;
}

#toolButton2{
  left: 55px;
  top:15px;
  width:30px;
  height:30px;
}

#toolButton:hover2{
  transform:scale(1.2); 
}

.floatToolBar{
  top:3%;
  z-index: 5;
  position: absolute;
  opacity: 0.8;
}
.botToolBar{
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  z-index: 5;
  position: absolute;
  opacity: 0.8;
}
.centralTool{
  right: 0;
  left: 0;
  bottom: 0;
  top:0;
  margin: auto;
  z-index: 5;
  position: absolute;
  opacity: 0.8;
}
.blurBackground{
  -webkit-filter: blur(9px);
  filter: blur(9px);
}

.mymap{
    width: 100%;
    overflow:hidden;
  }


  .inmap{
    z-index: 0;
  }

  .outmap{
    width:100%;
    height:100%;
    overflow:hidden;
  }
  .quick-menu{
    position: absolute;
  }
  .mapranging{
    cursor:Crosshair;
  }

  #toolBox{
    width:20%;
    background-color: #1d1d1d;
    border-radius:5px;
    justify-content: center;
  }

  .toolBox{
    width:20%;
    background-color: #1d1d1d;
    border-radius:5px;
    justify-content: center;
  }
  
  #infoBox{
    width:20%;
    height: 100%;
    background-color: white;
    border-radius:5px;
    justify-content: center;
  }

  .infoBox{
    width:20%;
    height: 100%;
    background-color: rgb(41,43,67);
    border-radius:5px;
    justify-content: center;
  }

  .boxtext{
    color: white;
    z-index: 6;
  }

  .boxtitle{
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
  }

  .boxsubtitle{
    font-size: 15px;
    display:inline;
    margin-left: 10px;
  }

  .slider{
    cursor: pointer;
    -webkit-appearance: none;
    width: 80%;
    border-radius: 10px; /*这个属性设置使填充进度条时的图形为圆角*/
    height: 10px;
    background-color: #00BECC;
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #aaa;
    width: 8px;
    height: 20px;
    border-radius: 4px;
    cursor: pointer;
}
  .fillbox{
    width: 100%;
    text-align: center;
    
  }

  .slider::-webkit-slider-thumb:hover {
    background: rgb(30, 107, 53);
}

.boxitem{
  margin-top: 10px;
}

.colorline{
  stroke-width:8;
}

.colortext{
  text-anchor: middle;
}

#rangeButton{
  width:45px;
  height: 40px;
}

.retagleButton{
    width:40px;
    height: 40px;

}
#pathButton{
  width:40px;
  height: 40px;

}

.rangeButton:hover{
  transform:scale(1.2); 
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  background-color:#158d97;
}

.dropdown:hover .dropbtn {
  background-color:#14ccc3;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: -40px;
  left: 80px;
}

.dropdown-content a {
  padding: 8px 8px;
  text-decoration: none;
  display: block;
  font-size: 13px;
  cursor: pointer;
}

.dropdown-content a:hover{
  background-color: #8d8d8d;
  color: white;
}
.isShowed{
  background-color: #8d8d8d;
  color: white;
}
.dropbtn{
  background-color:#158d97;
  color: white;
  width: 80px;
  height: 30px;
  font-size: 15px;
}
.dropdown2:hover .dropdown-content {
  display: block;
}

.right {
right:0;
}

.floatStatus{
  top: 90%;
  left: 3%;
  z-index: 5;
  position: absolute;
  opacity: 1;
}

.hide{
  display: none;
}

.O-1-item {
  break-inside: avoid;
  float: left;
  display: flex;
  align-items: center;
  padding-bottom: 1px;
}

.O-1-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 15px - 0.5em);
}

.O-1-swatch {
  width: 20px;
  height: 15px;
  margin: 0 0.5em 0 0;
  border-radius: 5px;
}

.commercetip{
  width: 90px;
  height: 60px;
}

.stext{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 12px;
}

.el-button--primary.is-active,
.el-button--primary:active {
  background: #158d97;
  color: #fff;
}

.el-button--primary:focus,
.el-button--primary:hover {
  background: #158d97;
  color: #fff;
}

.el-button--primary {
  color: #FFF;
  background-color: #158d97;
  border-color: #b7dbdf;
}
.fcolor{
  color:#f16406;
  color:#f6fa07;
}

.avatar{
  width:100px;
  height:100px;
  border-color:white;
  border-width: 5px;
  margin-left: 20px;
  margin-top: 20px;
}
.medicalEr{
  top: 65%;
  height: 35%;
}
.medicalInfo{
  top: 5%;
  height: 55%;

}
.confrontBox{
  left: 75%;
  z-index: 5;
  position: absolute;
  opacity: 0.8;
  width: 20%;
  background-color: rgb(41,43,67);
  border-radius:5px;
  justify-content: center;
  overflow-y: scroll;
}

.confrontBox::-webkit-scrollbar {
  display: none;/*隐藏滚动条*/
}

.storeLoc{
  top: 5%;
  left: 100%;/*75*/
  z-index: 5;
  position: absolute;
  opacity: 0.8;
  width: 20%;
  height: 35%;
  background-color: rgb(41,43,67);
  border-radius:5px;
  justify-content: center;
  overflow-y: scroll;
}

#costomerFeature{
  top: 42%;
  left: 100%;/*75*/
  z-index: 5;
  position: absolute;
  opacity: 0.8;
  width: 20%;
  height: 55%;
  background-color: rgb(41,43,67);

  color: white;
  border-radius:5px;
  justify-content: center;
  overflow-y: scroll;
}

.pointInfo{
  top: 5%;
  left: 100%;/*75*/
  z-index: 5;
  position: absolute;
  opacity: 0.8;
  width: 20%;
  height: 35%;
  background-color: #292929;
  border-radius:5px;
  justify-content: center;
  overflow-y: scroll;
}

.bussinessInfo{
  top: 42%;
  left: 100%;/*75*/
  z-index: 5;
  position: absolute;
  opacity: 0.8;
  width: 20%;
  height: 55%;
  // background-color: rgb(41, 43, 61);
  background-color: rgb(41,43,67);
  border-radius:5px;
  justify-content: center;
  overflow-y: scroll;
}

.trafficTypePie{
  top: 5%;
  left: 100%;/*75*/
  z-index: 5;
  position: absolute;
  opacity: 0.8;
  width: 20%;
  height: 35%;
  background-color: #158d97;
  border-radius:5px;
  justify-content: center;
  overflow-y: scroll;
}

.trafficTypeDonut{
  top: 42%;
  left: 100%;/*75*/
  z-index: 5;
  position: absolute;
  opacity: 0.8;
  width: 20%;
  height: 35%;
  background-color: #158d97;
  color: white;
  border-radius:5px;
  justify-content: center;
  overflow-y: scroll;
}

#commerceType{
  top: 100%;
  left: 30%;/*30%*/
  z-index: 5;
  position: absolute;
  opacity: 0.8;
  width: 40%;
  height: 37%;
  background-color: #158d97;
  color: white;
  border-radius:5px;
  justify-content: center;
  overflow-y: scroll;
}

.totalLine{
  top: 5%;
  left: 100%;/*75*/
  z-index: 5;
  position: absolute;
  opacity: 0.8;
  width: 25%;
  height: 35%;
  background-color: #158d97;
  border-radius:5px;
  justify-content: center;
  overflow-y: scroll;
}

.districtLine{
  top: 42%;
  left: 100%;/*75*/
  z-index: 5;
  position: absolute;
  opacity: 0.8;
  width: 25%;
  height: 55%;
  background-color: #158d97;
  color: white;
  border-radius:5px;
  justify-content: center;
  overflow-y: scroll;
}

.totalLine::-webkit-scrollbar {
  display: none;/*隐藏滚动条*/
}

.districtLine::-webkit-scrollbar {
  display: none;/*隐藏滚动条*/
}

#commerceType::-webkit-scrollbar {
  display: none;/*隐藏滚动条*/
}

#costomerFeature::-webkit-scrollbar {
  display: none;/*隐藏滚动条*/
}

.storeLoc::-webkit-scrollbar {
  display: none;/*隐藏滚动条*/
}

.trafficTypeDonut::-webkit-scrollbar {
  display: none;/*隐藏滚动条*/
}

.trafficTypePie::-webkit-scrollbar {
  display: none;/*隐藏滚动条*/
}

.pointInfo::-webkit-scrollbar {
  display: none;/*隐藏滚动条*/
}

.bussinessInfo::-webkit-scrollbar {
  display: none;/*隐藏滚动条*/
}

.littletip{
  font-size: 13px;
  margin-bottom: 10px;
}

.el-table, .el-table__expanded-cell {
  background-color: transparent;
}

.el-table th, .el-table tr {
  background-color: transparent;
}

.el-table .el-table--fit .el-table--enable-row-hover .el-table--enable-row-transition{
  background-color: #158d97;
  color: white;
}

/*性别比例部分的CSS*/
.genderProportion{
  background-color: rgb(41, 43, 67);
}
.gender-proportion-allpic {
  width: 67%;
  height: 5.67rem;
  margin: 0 auto;
}
.firstBlockContent {
  width: 67%;
  height: 1.33rem;
  margin: 0 auto;
}
.gender-proportion-img {
  display: block;
  float: left;
  margin-right: 0.2rem;
  width: 1.67rem;
  height: 4rem;
}
.femalebar {
  float: left;
  width: 55.3%;
  height: 100%;
  background: #fd5374;
}
.malebar {
  float: left;
  width: 44.7%;
  height: 100%;
  background: #2a93d4;
}
.firstBlockPercent {
  width: 100%;
  height: 90px;
  line-height: 3.33rem;
  margin: -2rem auto 0px;
}
.female-percent {
  text-align: center;
  float: left;
  width: 55%;
  height: 100%;
  line-height: 3.33rem;
  font-size: 1.13rem;
}
.male-percent {
  float: left;
  width: 45%;
  height: 100%;
  line-height: 3.33rem;
  font-size: 1.13rem;
}
.blockTitle{
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

#sysTitle{
  pointer-events: auto;
  position: absolute;
  left: 33%;
  margin-top: -1px;
  width: 498px;
  height: 65px;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
  font-size: 30px;
  color: #00EDFF;
  letter-spacing: 0;
  background-image: url(/src/img/titleBG.png);
  background-size: 498px 66px;
  background-repeat: no-repeat;
}

.linkbox{
  cursor: pointer;
  color: white;
}
			
			.box {
				width: 800px;
				height: 280px;
				margin: 50px auto;
				border: solid 2px bisque;
			}
			/*盒子内部类为icon 的span 进行描述*/
			

      
      .iconbg1{
        background: url(/src/img/allow-range.png)no-repeat 130px center;
      }
      .iconbg2{
        background: url(/src/img/allow-time.png)no-repeat 130px center;
      }
      .iconbg3{
        background: url(/src/img/allow-begin.png)no-repeat 130px center;
      }
			.button,
			.a {
				display: block;
				width: 180px;
				height: 50px;
				text-decoration: none;
				line-height: 50px;
				color: #00BECC;
				font-family: "微软雅黑";
				font-weight: bolder;
				border: 2px solid #00BECC(200, 155, 155, 0.3);
				padding-left: 20px;
				margin: 0 auto;
				box-sizing: border-box;
				/*兼容代码*/
				/*兼容IE浏览器*/
				-ms-box-sizing: border-box;
				/*兼容Safari和Chrome浏览器*/
				-webkit-box-sizing: border-box;
				/*兼容火狐浏览器*/
				-moz-box-sizing: border-box;
				/*加入箭头*/
				/*添加过度效果*/
				transition: all 0.3s linear;
				position: relative;
			}
			
			.button:hover {
				border: 2px solid rgba(255, 255, 255, 1);
				background-position: 140px center;
			}
			/*添加四条线的样式*/
			
			.button:hover .line {
				background: yellow;
			}
			/*是四条闪现过来的线 ，很多重复的部分*/
			
			.button .line {
				display: block;
				position: absolute;
				background: none;
				transition: all 0.3s linear;
				-webkit-transition: all 0.3s linear;
				-moz-transition: all 0.3s linear;
			}
			/*顶端的线标注*/
			/*1.高度 不变
			2.盒子宽度不变
			3.位置左右位置移动*/
			
			.button .line_top {
				height: 2px;
				width: 0;
				left: -110%;
				top: -2px;
			}
			
			.button:hover .line_top {
				width: 100%;
				left: -2px;
			}
			
			.button .line_bottom {
				height: 2px;
				width: 0;
				right: -110%;
				bottom: -2px;
			}
			
			.button:hover .line_bottom {
				width: 100%;
				right: -2px;
			}
			
			.button .line_right {
				height: 0px;
				width: 2px;
				right: -2px;
				top: -110%;
			}
			
			.button:hover .line_right {
				height: 100%;
				top: -2px;
			}
			
			.button .line_left {
				height: 0px;
				width: 2px;
				left: -2px;
				bottom: -110%;
			}
			
			.button:hover .line_left {
				height: 100%;
				bottom: -2px;
			}
			.a{
				
				  overflow: hidden;
			}
			.a:hover {
				background: #03e9f4;
				color: #fff;
				border-radius: 5px;
				box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
				background-position: 20px center;
			}
			
			.a span {
				position: absolute;
				display: block
			}
			
			.a span:nth-child(1) {
				top: 0;
				left: -100%;
				width: 100%;
				height: 2px;
				background: linear-gradient(90deg, transparent, #03e9f4);
				animation: btn-anim1 1s linear infinite;
			}
			
			@keyframes btn-anim1 {
				0% {
					left: -100%;
				}
				50%,
				100% {
					left: 100%;
				}
			}
			
			.a span:nth-child(2) {
				top: -100%;
				right: 0;
				width: 2px;
				height: 100%;
				background: linear-gradient(180deg, transparent, #03e9f4);
				animation: btn-anim2 1s linear infinite;
				animation-delay: .25s
			}
			
			@keyframes btn-anim2 {
				0% {
					top: -100%;
				}
				50%,
				100% {
					top: 100%;
				}
			}
			
			.a span:nth-child(3) {
				bottom: 0;
				right: -100%;
				width: 100%;
				height: 2px;
				background: linear-gradient(270deg, transparent, #03e9f4);
				animation: btn-anim3 1s linear infinite;
				animation-delay: .5s
			}
			
			@keyframes btn-anim3 {
				0% {
					right: -100%;
				}
				50%,
				100% {
					right: 100%;
				}
			}
			
			.a span:nth-child(4) {
				bottom: -100%;
				left: 0;
				width: 2px;
				height: 100%;
				background: linear-gradient(360deg, transparent, #03e9f4);
				animation: btn-anim4 1s linear infinite;
				animation-delay: .75s
			}
			
			@keyframes btn-anim4 {
				0% {
					bottom: -100%;
				}
				50%,
				100% {
					bottom: 100%;
				}
			}
